.css-1r9kbzm {
  margin: 0px;
  font-size: 15px;
  font-weight: 400!important;
  line-height: 1.334;
  color: rgb(112, 216, 189);
  font-family: 'IRY'!important;
  top: 12px;
  position: relative;
}

.css-j5a1ma {
  margin: 0px;
  font-family: 'IRY'!important;
  font-weight: 400;
  font-size: 14px!important;
  line-height: 1.5;
}
.css-lqhqw8 {
  font-family: 'IRY'!important;
  font-size: 14px!important;
  font-weight: 500!important;
  line-height: 1.6;
  color: rgb(163, 163, 163);
  margin: 15px 0px 5px 20px;
}
.css-17w9904-MuiTypography-root {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 0.8571428571428571rem;
  line-height: 1.5;
  text-align: right;
}

.css-1wobld1-MuiTypography-root{
  font-family: 'IRY'!important;position: relative;
  font-size: 15px!important;top: 5px;
}
.css-1hcwcb0,.css-19z8oxc-MuiTypography-root{
  font-family: 'IRY'!important;position: relative;
  font-size: 15px!important;top: -8px;
}

.css-pd30w-MuiTypography-root,.css-kzoo5n{
  font-family: 'IRY'!important;position: relative;
  font-size: 13.5px!important;top: 0px;
}